body {
    background-color: #f1f2f6;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #a4b0be;
}

#products {
    background-color: #a4b0be;
}

section {
    padding-top: 6rem;
}

.active {
    color: yellow !important;
}
